body{
  background-image: url("bg.jpg");
  background-size: cover;
  height: 100%;
  overflow: hidden;/**/
}
table{
  background-color: #ddd;
  opacity:100%;
  width: 50%;
  /*border-collapse: collapse;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 8px rgba(0,0,0,.5);
  }
td, th {
    text-align: center;
    border-color: #96D4D4;
    padding: 10px;
  }
.compteur{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 20px;
}
